/*
* Copyright (C) 2011 - 2018 TopCoder Inc., All Rights Reserved.
*
* This css used to render the launch new contest flow.
*
* Version 1.1 (Release Assembly - TopCoder Cockpit - Marathon Match Contest Detail Page)
* 1) Fix the contest type drop down background issue in contest details page.
*
* Version 1.2 (Module Assembly - TC Cockpit Contest Milestone Association 1)
* 1) Add styles to support the new milestone dropdown in launch contest page
*
* Version 1.3 (Module Assembly - TC Cockpit Launch F2F contest)
* 1) Add styles for the choose platforms control
*
* Version 1.4 (TC Direct Rebranding Assembly Project and Contest related pages)
* - Rebranding the launch new challenge page

* Version 1.5 (TC Direct Rebranding Assembly Copilot and Reporting related pages)
* - Rebranding the copilot and reporting related pages.
*
* Version 1.6 (Release Assembly - TC Direct Prize Section Update)
* - Update prize section to support on the fly cost calculation for design challenge
* - Add checkpoint prize for dev challenge prize section and update on the fly cost calculation
*
* Version 1.7 (TOPCODER - SUPPORT GROUPS CONCEPT FOR CHALLENGES):
* - Add section for project group
*
* Version 1.8 (Topcoder - Support Points Prize Type For Challenges)
* - Add points related css
*
* Author: GreatKevin, TCSASSEMBLER, TCSCODER
* Version 1.8
*/
@charset "utf-8";

/** title **/
#launchContestOut h2 {
    padding-top: 18px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 36px;
}

#launchContestOut .lcc {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-right: 5px;
    vertical-align: baseline;
    color: #333333;
}

#launchContestOut .lcc_chk {
    width: 120px;
    height: 28px;
    float: left;
    display: inline;
    padding-left: 24px;
    padding-top: 5px;
}

#launchContestOut .bug_hunt {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-right: 5px;
    vertical-align: baseline;
    color: #333333;
}

#launchContestOut .bug_hunt_chk {
    width: 195px;
    height: 28px;
    float: left;
    display: inline;
    padding-left: 24px;
    padding-top: 5px;
}

#launchContestOut .hide {
    display: none;
}

/** intro **/
#launchContestOut .intro {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
}

/** tab **/
#launchContestOut .tabOut,
#overviewAlgorithmPage .tabOut {
    padding-top: 10px;
    text-align: left;
}

/*#launchContestOut .tabOut #tab{
			position:absolute;
			width: 105px;
			height: 68px;

		}*/

/** tab list **/
#launchContestOut .tabOut ul {
    width: auto;
    margin: 0;
    padding: 0;
    position: absolute;
}

#launchContestOut .tabOut li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#launchContestOut .tabOut li a {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    text-align: center;
}

#launchContestOut .tabOut li.top {
    height: 34px;
}

#launchContestOut .tabOut li.bottom {
    height: 33px;
}

/** tab link **/
#launchContestOut .tabOut li.top a {
    width: 106px;
    height: 34px;
    display: block;
    font-size: 12px;
    color: #000;
    line-height: 34px;
    font-weight: bold;
    text-decoration: none;
    background: url(/images/tabTop.gif) no-repeat;
}

#launchContestOut .tabOut li.bottom a {
    width: 106px;
    height: 33px;
    display: block;
    font-size: 12px;
    color: #000;
    line-height: 33px;
    font-weight: bold;
    text-decoration: none;
    background: url(/images/tabBottom.gif) no-repeat;
}

/** current status **/
#launchContestOut .tabOut li.top a.current {
    width: 111px;
    font-size: 14px;
    color: #fffffe;
    background: url(/images/tabTop_current.gif) no-repeat;
}

#launchContestOut .tabOut li.bottom a.current {
    width: 111px;
    font-size: 14px;
    color: #fffffe;
    background: url(/images/tabBottom_current.gif) no-repeat;
}

/** end current status **/

/** end tab link **/

/** tab contest **/
#launchContestOut .tabContest {
    height: 65px;
    position: relative;
    border: #e7e7e7 solid 1px;
}

#overviewAlgorithmPage .tabContest {
    height: 50px;
    position: relative;
    border: #e7e7e7 solid 1px;
}

#launchContestOut .tabContest1 {
    border: medium none;
    height: 35px;
}

#launchContestOut .selectX {
    height: 28px;
}

#launchContestOut .selectDesing, #launchContestOut .selectSoftware {
    width: 100%;
    height: 100%;
    margin-top: -1px;
    padding-top: 9px;
    padding-left: 29px;
    position: absolute;
    overflow: visible;
}

#launchContestOut .selectDesing1 {
    background: transparent none repeat scroll 0 0;
    padding-left: 0;
}

/** select **/
#launchContestOut .selectDesing .selectOut, #launchContestOut .selectSoftware .selectOut {
    width: auto;
    float: left;
    display: inline;
    margin-right: 30px;
}

/** tip link **/
#launchContestOut .selectDesing .help, #launchContestOut .selectSoftware .help {
    width: 108px;
    height: 28px;
    float: right;
    display: inline;
    padding-left: 34px;
    font-size: 11px;
    background: url(/images/iconI.png) no-repeat left center;
}

#launchContestOut .selectDesing .new_style {
    font-weight: bold;
}

#launchContestOut .selectDesing .moreLink, #launchContestOut .selectSoftware .moreLink {
    height: 28px;
    padding-left: 10px;
    font-size: 11px;
    line-height: 28px;
    text-decoration: none;
    background: url(/images/moreLink_icon.gif) no-repeat left center;
}

#launchContestOut .selectDesing .moreLink:hover, #launchContestOut .selectSoftware .moreLink:hover {
    text-decoration: underline;
}

#launchContestOut .schedule .name_label {
    color: #3B3B3B;
    display: inline;
    float: left;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-left: 14px;
    width: 140px;
}

#launchContestOut .contestDetail .textarea1 {
    position: relative;
}

#launchContestOut .contestDetail .textarea1 textarea {
    border: 0 none;
    color: #333333;
    font-size: 14px;
    height: 130px;
    padding: 5px 0;
    width: 100%;
}

#launchContestOut .contestDetail p.mceFooterNote {
    font-size: 12px;
    color: #494949;
    padding: 2px 0 0 5px;
}

/** end .tabOut **/

/** add new **/
#launchContestOut .addNewContest {
    padding-bottom: 20px;
    margin-top: 34px;
    border: #e7e7e7 solid 1px;
}

/** row **/
#launchContestOut .addNewContest .row {
    height: 28px;
    margin-top: 17px;
}

#overviewAlgorithmPage .problemDiv {
    padding-bottom: 20px;
    border: #bdbdbd solid 1px;
}

#overviewAlgorithmPage .problemDiv .row {
    height: 20px;
    margin-left: 14px;
    margin-top: 8px;
}

/** label **/
#launchContestOut .addNewContest label {
    width: 125px;
    float: left;
    display: inline;
    margin-left: 14px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 28px;
}

#launchContestOut.launchCopilotContest .addNewContest label {
    width: 275px;
}

/** input **/
#launchContestOut .addNewContest .projectSelect {
    height: 28px;
}

#launchContestOut .addNewContest .text {
    width: 494px;
    height: 25px;
    padding: 0 5px;
    line-height: 25px;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    font-size: 12px;
}

#launchContestOut.launchCopilotContest .addNewContest .text {
    background: none;
    width: 370px;
    border: 1px solid #a8abad;
}

#launchContestOut .addNewContest .projectSelect .text {
    width: 362px;
    height: 25px;
    padding: 0 5px;
    line-height: 25px;
    border: 0;
    background: url(/images/tabContest_input.gif) no-repeat;
}

#launchContestOut.launchCopilotContest .projectSelect .text {
    background: none;
    width: 235px;
    border: 1px solid #a8abad;
}

#launchContestOut .addNewContest .projectSelect, #launchContestOut .addNewContest .billingSelect, #launchContestOut .addNewContest .copilotSelect, .reviewScorecardSelect, .milestoneSelect, .reviewerSelect, .registrantsSelect, .mmTypeSelect{
    width: auto;
    float: left;
    display: inline;
    margin-right: 26px;
}

#launchContestOut.launchCopilotContest .addNewContest .projectSelect {
    margin-right: 5px;
}

/** button **/
#launchContestOut .addNewContest .button6 {
    width: auto;
    float: left;
    display: inline;
    margin-top: 1px;
}

#launchContestOut .addNewContest #addNewProject:hover {
    border-bottom: 3px solid #81bc01;

}

#launchContestOut .addNewContest .button6 span.left {
    width: auto;
    float: left;
    display: inline;
}

#launchContestOut .addNewContest .button6 span.right {
    width: auto;
    float: left;
    display: inline;
    padding: 0 21px 0 24px;
}

/** end .addNewContest **/

/** paymentMethod **/

/** #area1 .area1Content .paymentMethod **/
#area1 .paymentMethod {

}

#area1 .paymentMethod .paymentColumn {
    float: left;
    width: 480px;
}

#area1 .paymentMethod .paymentColumn h3 {
    margin-top: 20px;
}

#area1 .paymentMethod .paypalColumn {
    float: right;
    width: 200px;
    height: 60px;
    background: url(/images/horizontal_solution_PPeCheck_tc.png) no-repeat left top;
}

#area1 .paymentMethod .message {
    clear: left;
}

/** end #area1 .area1Content .paymentMethod **/

/** #launchContestOut .paymentMethod * **/
#launchContestOut.paymentMethod .buttonBox {
    float: right;
    clear: left;
    margin: 0 20px 24px 50px;
}

#launchContestOut.paymentMethod .buttonBox .contiune,
#launchContestOut.paymentMethod .buttonBox .draft, .paymentMethod .buttonBox .preview {
    margin-left: 10px;
    margin-right: 3px;
}

#launchContestOut.paymentMethod .supRow {
    float: right;
    height: 1px;
    position: relative;
    bottom: 10px;
    right: 15px;
    display: inline;
    font: 13px normal;
    z-index: 400;
}

/** row **/
#launchContestOut.paymentMethod .row {
    border: 1px solid transparent;
}

/** label **/
#launchContestOut.paymentMethod label {
    width: 140px;
    float: left;
    margin-left: 14px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-left: 0;
    margin-top: 3px;
}

/** input **/
#launchContestOut.paymentMethod .text {
    width: 324px;
    height: 25px;
    margin-top: 6px;
    padding: 0 0 0 5px;
    line-height: 25px;
    border: 0;
    background: url(/images/paymentMethod_input.gif) no-repeat;
}

#launchContestOut.paymentMethod .text.medium {
    width: 160px;
    background: url(/images/paymentMethod_input_medium.gif) no-repeat;
}

#launchContestOut.paymentMethod .text.small {
    width: 65px;
    background: url(/images/paymentMethod_input_small.gif) no-repeat;
}

#launchContestOut.paymentMethod .redTip {
    text-decoration: none;
    font: 14px bold;
    color: red;
}

#launchContestOut.paymentMethod .row {
    clear: left;
}

/* cardSelect, selectMonth, selectYear*/
span.starNotice {
    width: 1px;
    height: 28px;
    display: block;
    float: left;
}

.cardSelect {
    width: 335px;
    float: left;
}

.selectMonth {
    width: 65px;
    float: left;
}

.selectYear {
    width: 250px;
    float: left;
    margin-left: 5px;
}

.cardSelect .newListSelected, .selectMonth .newListSelected,
.selectYear .newListSelected {
    float: left;
    height: 28px;
    padding: 0 5px;
    border: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 28px;
    cursor: pointer;
}

.cardSelect .newListSelected {
    width: 324px;
    background: url(/images/cardSelect_select.gif) no-repeat;
}

.selectMonth .newListSelected {
    width: 48px;
    background: url(/images/selectMonth_select.gif) no-repeat;
}

.selectYear .newListSelected {
    width: 70px;
    background: url(/images/selectYear_select.gif) no-repeat;
}

.cardSelect .selectedTxt {
    width: 321px;
}

.selectMonth .selectedTxt {
    width: 48px;
}

.selectYear .selectedTxt {
    width: 70px;
}

.cardSelect .newList, .selectMonth .newList, .selectYear .newList {
    border: #ccc solid 1px;
    background: #fff;
    position: absolute !important;
    margin-top: -3px !important;
    z-index: 600;
}

.cardSelect .newList {
    width: 324px !important;
}

.selectMonth .newList {
    width: 48px !important;
}

.selectYear .newList {
    width: 70px !important;
}

#launchContestOut.paymentMethod .rowElem {
    height: 25px;
    width: 1px;
    display: inline;
    text-align: center;
    font-size: 20px;
    margin: 3px 5px 0 0;
    float: left;
}

/** end #launchContestOut .paymentMethod **/
/** end .paymentMethod **/

/** orderReview and related**/
#launchContestOut h2.sectionHead {
    font-size: 20px;
    color: #666666;
}

#launchContestOut .orderReview .overviewBox {
    border: 0;
}

#launchContestOut .orderReview .overviewData th {
    width: 160px;
    text-align: left;
}

#launchContestOut .orderReview .overviewData td {
    font-weight: bold;
}

/** end .orderReview **/

/* orderReview */
#launchContestOut.orderReview .buttonBox {
    float: right;
    clear: left;
    margin: 0 20px 24px 50px;
}

#launchContestOut.orderReview .buttonBox .contiune,
#launchContestOut.orderReview .buttonBox .draft, .paymentMethod .buttonBox .preview {
    margin-left: 10px;
    margin-right: 3px;
}

#launchContestOut.orderReview .message {
    clear: right;
}

/* end .orderReview*/

/** contestDetails and related **/

#launchContestOut .contestDetails .sectionHead {
    padding: 10px 0 0 0;
}

#launchContestOut .contestDetails h3 {
    margin-top: 15px;
}

.prizesTable {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #c1c1c1;
}

.prizesTable tbody {
    padding: 0;
    margin: 0;
}

.prizesTable td {
    width: auto;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.prizesTable td.first {
    width: 28%;
}

.prizesTable td.middleRight {
    text-align: right;
    padding-right: 60px
}

.prizesTable td.large {
    width: auto;
    text-align: left;
    padding-left: 20px;
}

.prizesTable td.last {
    width: 90px;
    font-size: 20px;
    height: 57px;
    padding: 0;
    margin: 0;
    background: url(/images/table_last_cell_background.gif) repeat-x;
}

.launchCopilotContest .prizesTable td.prize {
    width: 25%;
    text-align: center;
}

.launchCopilotContest .prizesTable td.prize span {
    font-weight: normal;
}

.launchCopilotContest .prizesTable td.prize span.feeValue {
    width: auto;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.launchCopilotContest .prizesTable td.total {
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
}

hr.dualDivider {
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 3px;
    margin: 15px 5px;
}

table.total {
    width: 100%;
    border: 0;
    margin: 10px 0 0 0;
}

table.total td {
    font-size: 20px;
    font-weight: bold;
}

table.total td.toLeft {
    text-align: left;
}

table.total td.toRight {
    text-align: right;
    padding-right: 10px;
}

/** end .contestDetails **/

/* receipt */

.paymentNumBox {
    float: right;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 27px;
}

.redAlert {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: red;
    line-height: 36px;
    padding-top: 5px;
    display: block;
    font-weight: bold
}

.message .rbContainer {

}

.message .rbContainer .redButton {
    float: right;
    margin: 5px 10px 15px 25px;
}

/* end .receipt*/

/** tiile **/
#launchContestOut h3 {
    height: 16px;
    margin-top: 34px;
    margin-bottom: 2px;
    font-size: 14px;
}

/** title icon **/
#launchContestOut h3 span.icon {
    width: auto;
    float: left;
    display: inline;
}

/** schedule **/
#launchContestOut .schedule {
    border: #e7e7e7 solid 1px;
    padding-bottom: 20px;
}

#launchContestOut.launchCopilotContest .schedule {
    height: auto;
    padding-bottom: 20px;
}

.launchCopilotContest .description textarea {
    height: 100%;
    width: 100%;
}

/** row **/
#launchContestOut .schedule .row {
    height: 22px;
    margin-top: 16px;
}

#launchContestOut .schedule .selectrow {
    height: 28px;
    margin-top: 12px;
}

/** label **/
#launchContestOut .schedule label {
    width: 125px;
    float: left;
    display: inline;
    margin-left: 14px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 28px;
}

/** select **/
#launchContestOut .schedule .startSelect, #launchContestOut .schedule .checkpointSelect, #launchContestOut .schedule .endSelect {
    width: auto;
    float: left;
    display: inline;
    margin-right: 7px;
}

/** input **/
#launchContestOut .schedule .text {
    width: 80px;
    height: 22px;
    float: left;
    display: inline;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    padding: 0 5px;
    line-height: 22px;
    color: #6c6c6c;
    font-size: 11px;
}

#launchContestOut .schedule .startEtSelect, #launchContestOut .schedule .checkpointEtSelect, #launchContestOut .schedule .endEtSelect {
    width: auto;
    float: left;
    display: inline;
    margin-right: 4px;
}

#launchContestOut .schedule span {
    font-size: 12px;
    color: #6c6c6c;
}

#launchContestOut.launchCopilotContest .schedule span {
    font-size: 14px;
    color: #333333;
}

/**　end .schedule **/

/** bottom button **/
#launchContestOut .bottomButton {
    height: 24px;
    margin-top: 18px;
}

#launchContestOut .bottomButton .conditions {
    width: auto;
    float: left;
    display: inline;
    font-size: 14px;
    color: #f90;
    line-height: 28px;
}

/** upload **/
.upload .uploadInner {
    height: 25px;
}

/** input **/
.upload .uploadInput {
    width: 230px;
    height: 17px;
    float: left;
    display: inline;
    padding: 3px 5px;
    color: #c4c4c4;
    border: #a8abad solid 1px;
}

.upload .uploadInner .fileIn {
    width: 72px;
    height: 25px;
    position: absolute;
}

/** button **/
.upload .button6 {
    width: auto;
    float: left;
    display: inline;
    margin-right: 14px;
    background: url(/images/grey_button_bg.gif) repeat-x top;
}

.upload a.button6 span.left {
    width: auto;
    float: left;
    display: inline;
    background: url(/images/grey_button_left.gif) no-repeat left top;
    padding: 0;
}

.upload a.button6:hover span.left {
    background: url(/images/grey_button_left.gif) no-repeat left bottom;
}

.upload a.button6 span.right {
    width: auto;
    float: left;
    display: inline;
    background: url(/images/grey_button_right.gif) no-repeat right top;
    padding: 0 13px 0 10px;
    height: 20px;
}

.upload a.button6:hover span.right {
    background: url(/images/grey_button_right.gif) no-repeat right bottom;
}

/** file input **/
.upload .fileInput {
    width: 272px;
    height: 17px;
    float: left;
    display: inline;
    padding: 3px 5px;
    color: #c4c4c4;
    border: #a8abad solid 1px;
}

/** remove button **/
.upload .removeButton {
    width: 22px;
    height: 21px;
    float: left;
    display: inline;
    margin-top: 2px;
    margin-left: 7px;
    background: url(/images/removeButton.gif) no-repeat;
}

.upload .removeButton:hover {
    background: url(/images/removeButton_hover.gif) no-repeat;
}

/** add button **/
.upload .addButton {
    width: 22px;
    height: 21px;
    float: left;
    display: inline;
    margin-top: 2px;
    margin-left: 7px;
    background: url(/images/addButton.gif) no-repeat;
}

.upload .addButton:hover {
    background: url(/images/addButton_hover.gif) no-repeat;
}

/** prizesInner **/
/** prizesInner **/

#button_tech, #button_platform, .button_tech {
    height: 90px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 15px;

    width: 45px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#add {
    cursor: pointer;
}

#remove {
    cursor: pointer;
}

.head_font {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

.head_font_space {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    padding-left: 260px;
}

#masterTechnologiesSelect, #masterPlatformsSelect, .masterGroupsSelect {
    overflow: scroll;
    height: 150px;
    width: 285px;
    float: left;
}

#masterTechnologiesChoosenSelect, #masterPlatformsChoosenSelect, .masterGroupsChoosenSelect {
    overflow: scroll;
    height: 150px;
    width: 285px;
    float: left;
}

/* catalog/categoires select */
#addCategories {
    cursor: pointer;
}

#removeCategories {
    cursor: pointer;
}

.head_font {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

.head_font_space {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    padding-left: 260px;
}

.head_font_space_categories {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    padding-left: 275px;
}

#select1, #select1_categories {
    overflow: scroll;
    height: 150px;
    width: 285px;
    float: left;
}

#select2, #select2_categories {
    overflow: scroll;
    height: 150px;
    width: 285px;
    float: left;
}

.prizesInner {
    height: 28px;
    padding: 5px 0;
    border: #e7e7e7 solid 1px;
}

.stockArtsInner, .maxSubmissionsInner, .submissionVisibilityInner {
    height: 28px;
    padding: 5px 10px 0;
    border: 1px solid #e7e7e7;
}

#rStockArts, #rViewableSubmFlag, #rMaxSubmissions {
    color: #6C6C6C;
    float: left;
    font-size: 12px;
}

.prizesInner1 {
    padding: 0px 0;
    border: none;
}

.prizesInner_software {
    height: 180px;
    padding: 5px;

}

.prizesInner_tech {
    height: 180px;
    padding: 5px;

}

#swSecondPlace {
    line-height: 30px;
}

.mid_info {
    margin-left: 7px;
}

.prizesInner_software .mid_info {
    margin-left: 12px;
    font-weight: bold;
}

.prizesInner_software .mid_info span {
    font-weight: normal;
}

.prizesInner_software .first_info {
    font-weight: bold;
}

.prizesInner_software .first_info span {
    font-weight: normal;
}

.prizesInner_software .last_info {
    font-weight: bold;
}

.prizesInner_software .last_info span {
    font-weight: normal;
}

.contest_prize_edit .save {
    padding-top: 20px;
}

.last_info {
    float: right;
    padding-top: 3px;
}

.head {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;

}

.radio_font {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    font-weight: bold;

}

.place {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;

}

.details {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 25px;

}

IMG.new_cur {
    cursor: pointer;
}

.place_info {
    padding-left: 200px;
}

.place_par {
    margin-top: 10px;
}

.prizesInner_software .placeInput {
    width: 150px;
    height: 17px;
    margin-left: 5px;
    display: inline;
    text-align: right;
    padding: 3px 5px;
    color: #c4c4c4;
    border: #a8abad solid 1px;
}

.space_radio {

    margin-left: 20px;
}

.extra_info {
    margin-top: 10px;

    height: 120px;
    background-color: #DDD;
}

/** label **/
.prizesInner label {
    width: auto;
    float: left;
    display: inline;
    margin-top: 4px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #6c6c6c;
    line-height: 22px;
}

.prizesInner label.first {
    margin-left: 12px;
}

.prizesInner label.second, .prizesInner label.third {
    margin-left: 60px;
}

.prizesInner .numberDor {
    width: auto;
    float: left;
    display: inline;
    margin-top: 4px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #6c6c6c;
    line-height: 22px;
    font-weight: normal;
}

.prizesInner .dw {
    width: auto;
    float: left;
    display: inline;
    margin-top: 4px;
    margin-left: 18px;
    margin-right: 4px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6c6c6c;
    line-height: 22px;
}

/**prize input **/
.prizesInner .prizesInput,
.prizesInner .pointsInput {
    width: 56px;
    height: 16px;
    float: left;
    display: inline;
    margin-top: 4px;
    border: 0;
    padding: 3px 5px;
    font-weight: bold;
    text-align: left;
    color: #666666;
    font-size: 11px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

/** button **/
.prizesInner .addButton,
.prizesInner .alAddButton {
    width: 22px;
    height: 21px;
    float: left;
    display: inline;
    margin-left: 77px;
    background: url(/images/addButton.gif) no-repeat;
}

.prizesInner .addButton:hover {
    background: url(/images/addButton_hover.gif) no-repeat;
}

.prizesInner .removeButton {
    width: 22px;
    height: 21px;
    float: left;
    display: inline;
    margin-left: 77px;
    background: url(/images/removeButton.gif) no-repeat;
}

.prizesInner .removeButton:hover {
    background: url(/images/removeButton_hover.gif) no-repeat;
}

/** end .prizesInner **/

/** mPrizesInner **/
.mPrizesInner, .studioCupPointsInner {
    height: 28px;
    padding: 5px 0;
    border: #e7e7e7 solid 1px;
}

/** label **/
.mPrizesInner label, .studioCupPointsInner label {
    width: auto;
    float: left;
    display: inline;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #6c6c6c;
    line-height: 28px;
}

.mPrizesInner .numberDor {
    width: auto;
    float: left;
    display: inline;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #6c6c6c;
    line-height: 28px;
    font-weight: normal;
}

.mPrizesInner label.first, .studioCupPointsInner label.first {
    margin-left: 22px;
}

.mPrizesInner .dw {
    width: auto;
    float: left;
    display: inline;
    margin-left: 18px;
    margin-right: 12px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6c6c6c;
    line-height: 28px;
}

/** input **/
.mPrizesInner .prizesInput {
    width: 46px;
    height: 16px;
    float: left;
    display: inline;
    margin-top: 3px;
    border: 0;
    padding: 3px 9px;
    font-weight: bold;
    text-align: right;
    color: #666666;
    font-size: 12px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

.mPrizesInner strong, .studioCupPointsInner strong {
    width: auto;
    float: left;
    display: inline;
    margin-left: 13px;
    margin-right: 16px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 28px;
    color: #6c6c6c;
}

/** end .mPrizesInner **/

/** start studio cup points **/
#rStudioCupPoints {
    font-size: 14px;
}

#studioCupPointsCheckBox {
    float: left;
    margin-left: 22px;
    position: relative;
    top: 7px;
}

/** mPrizesInner **/
.deliverablesInner {
    padding: 5px 26px;
    padding-right: 0;
    border: #c1c1c1 solid 1px;
}

/** input on review page **/
.deliverablesInner .rCheckInput {
    display: block;
    margin-top: 4px;
}

/** input **/
.deliverablesInner .checkInput {
    width: auto;
    margin-top: 4px;
}

.deliverablesInner .checkInput > div {
    padding: 2px 0;
}

/** label **/
.deliverablesInner label {
    padding-left: 2px;
    padding-right: 50px;
    font-size: 12px;
    color: #6c6c6c;
}

/** input **/
.deliverablesInner .text {
    width: 370px;
    height: 16px;
    padding: 2px 9px;
    font-weight: bold;
    color: #6c6c6c;
    margin-right: 30px;
}

/** file button **/
.deliverablesInner .fileType {
    width: auto;
    height: 22px;
    margin-top: 4px;
    padding-left: 28px;
    line-height: 22px;
    background: url(/images/addButton.gif) no-repeat left center;
}

.deliverablesInner .fileType:hover {
    text-decoration: none;
    background: url(/images/addButton_hover.gif) no-repeat left center;
}

.deliverablesInner .fileTypeAdd {
    font-size: 12px;
    color: #ab0000;
    text-decoration: underline;
}

/** Stock Arts **/
.deliverablesInnerSa {
    padding: 5px 26px;
    padding-right: 0;
    border: #c1c1c1 solid 1px;
}

/** input on review page **/
.deliverablesInnerSa .rCheckInput {
    display: block;
    margin-top: 4px;
}

/** input **/
.deliverablesInnerSa .checkInput {
    width: auto;
    float: left;
    display: inline;
    margin-top: 4px;
}

/** label **/
.deliverablesInnerSa label {
    padding-left: 2px;
    padding-right: 50px;
    font-size: 12px;
    color: #6c6c6c;
}

/** input **/
.deliverablesInnerSa .text {
    width: 46px;
    height: 16px;
    border: 0;
    padding: 3px 9px;
    font-weight: bold;
    color: #6c6c6c;
    margin-right: 30px;
    background: url(/images/prizesInput.gif) no-repeat;
}

/** file button **/
.deliverablesInnerSa .fileType {
    width: auto;
    height: 22px;
    float: left;
    display: inline;
    margin-top: 4px;
    padding-left: 28px;
    font-size: 12px;
    color: #ab0000;
    line-height: 22px;
    text-decoration: underline;
    background: url(/images/addButton.gif) no-repeat left center;
}

.deliverablesInnerSa .fileType:hover {
    text-decoration: none;
    background: url(/images/addButton_hover.gif) no-repeat left center;
}

/** button style **/
.buttonBox {
    padding-top: 24px;
}

a.contiune {
    margin-right: 0px;
    margin-left: 10px;
}

a.contiune:hover {
    border-bottom: 3px solid #81bc01;

}

a.contiune span.left {
    width: auto;
    float: left;
    display: inline;
}

a.contiune span.right {
    width: auto;
    float: left;
    display: inline;
    padding: 0 22px 0 18px;
}

a.preview.privateCmd{
    margin-right: 0px;
}

a.draft, a.preview {
    margin-right: 24px;
    background: #ff8a00;
    border-bottom: 3px solid #ff6700;
}

.tabHead a.draft, .tabHead a.draft {
    margin-top: 6px;
    margin-right: 12px;
}

a.draft:hover, a.preview:hover {
    border-bottom: 3px solid #ff8a00;
}

a.draft span.left, a.preview span.left {
    width: auto;
    float: left;
    display: inline;
}

a.draft:hover span.left, a.preview:hover span.left {
}

.tabHead a.draft span.right, .tabHead a.preview span.right {
    padding: 0 15px 0 15px;
}

a.draft span.right, a.preview span.right {
    width: auto;
    float: left;
    display: inline;
    padding: 0 19px 0 15px;
}

a.draft:hover span.right, a.preview:hover span.right {
}

/** Contest Detail **/
#launchContestOut .contestDetail h3 {
    margin-top: 18px;
}

/** help icon **/
#launchContestOut .helpIcon {
    width: 16px;
    height: 15px;
    float: left;
    display: inline;
    margin-left: 6px;
    background: url(/images/help_ico4.gif) no-repeat;
}

#launchContestOut .helpIcon:hover {
    background: url(/images/help_ico4.gif) no-repeat left bottom;
}

/** textarea **/
#launchContestOut .contestDetail .textarea {
    /* height:47px;
		padding-left:10px; */
    border: #c4c4c4 solid 0px;
}

#launchContestOut .contestDetail .textarea textarea {
    width: 100%;
    height: 36px;
    border: 0;
    padding: 5px 0;
    font-size: 14px;
    color: #333;
}

#launchContestOut .contestDetail .textarea2 {
    border: 1px solid #C4C4C4;
    height: 250px;
    padding-left: 10px;
}

#launchContestOut .contestDetail .textarea2 textarea {
    border: 0 none;
    color: #333333;
    font-size: 14px;
    height: 239px;
    padding: 5px 0;
    width: 100%;
}

#overviewSoftwarePage .contestDetail .textarea {
    height: 100%;
}

#overviewSoftwarePage .contestDetail .textarea textarea {
    height: 240px;
}

.previewMask {
    font-size: 12px !important;
}

.previewMask ul,
.previewMask ol {
    padding: 6px 0 6px 40px !important;
}

.previewMask p {
    margin-bottom: 12px;
}

.previewMask h4, .previewMask p, .previewMask blockquote,
.previewMask ul, .previewMask fieldset, .previewMask form,
.previewMask dir, .previewMask menu {
    font: 12px/1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
}

/** textarea bottom **/
#launchContestOut .contestDetail .bottomTextarea {
    height: 22px;
    /* border:#dddddd solid 1px; */
    position: relative;
    /* background:url(/images/textarea_bottom_bg.gif) repeat-x; */
}

#launchContestOut .contestDetail .bottomTextarea p {
    margin-left: 10px;
    font-size: 13px;
    line-height: 22px;
    color: #494949;
}

#launchContestOut .contestDetail .bottomTextarea .icon {
    width: 11px;
    height: 11px;
    position: absolute;
    right: 1px;
    bottom: 1px;
    overflow: hidden;
    background: url(/images/textarea_bottom.gif) no-repeat;
}

/* launch software catalog select */
#launchContestOut .contestDetail .prizes .catalogSelect {
    display: block;
    float: left;
    margin: 10px 0;
    width: 100%;
}

#launchContestOut .contestDetail .prizes .catalogSelect label {
    display: block;
    float: left;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin-left: 3px;
}

/** input **/
#launchContestOut .contestDetail .prizes .catalogSelect .newListSelected {
    float: left;
    display: block;
    margin-left: 10px;
    height: 28px;
}

/*content page styes*/
.tabHead {
    height: 34px;
    margin-top: 25px;
    background: url(/images/tabHead.gif) 0 0 repeat-x;
    position: relative;
}

/** tab list **/
.tabHead ul {
    margin-left: 0px;
}

.tabHead li {
    width: 150px;
    height: 34px;
    line-height: 34px;
    float: left;
    display: inline;
    font-weight: 400;
    color: #333;
    font-size: 12px;
    padding-left: 30px;
    list-style-type: none;
}

.tabHead li.current {
    width: 111px;
    font-weight: 700;
    font-size: 14px;
    background: url(/images/tabTop_current.gif) 0 0 no-repeat;
    color: #fffffe;
}

/** tr **/
.tabHead .tr {
    width: 4px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0px;
    background: url(/images/tabHead-tr.gif) no-repeat;
}

/** edit button **/
.tabHead .editButton {
    float: right;
    width: 57px;
    height: 24px;
    line-height: 24px;
    margin: 5px 10px 0 0;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #fffffe;
    text-align: center;
    background: url(/images/editButton.gif) 0 0 no-repeat;
}

.tabHead .editButton:hover {
    background: url(/images/editButton.gif) 0 -24px no-repeat;
}

/** over view **/
.overviewBox {
    border: 1px solid #ccc;
    padding: 10px 0;
}

.overviewData {
    font-size: 14px;
    text-align: left;
    line-height: 35px;
}

.overviewData th {
    width: 110px;
    font-weight: 400;
    text-align: right;
}

.overviewData td {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    padding-left: 15px;
}

.overviewData td img {
    vertical-align: middle;
}

/** content list **/
.contentList {
    margin: 10px 0;
}

.contentList dt {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}

.contentList dd {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.contentList dd img {
    vertical-align: middle;
}

.cbox {
    border: 1px solid #ccc;
    padding: 12px 17px 12px 12px;
    margin-bottom: 15px;
}

/** file box **/
#cboxFiles, #swCboxFiles, #alCboxFiles {
    height: 48px;
    padding-right: 0;
}

/** tip link **/
#cboxFiles .tipLink, #alCboxFiles .tipLink, .deliverablesInner .tipLink, .deliverablesInnerSa .tipLink, .mPrizesInner .tipLink, .prizesInner .tipLink, .stockArtsInner .tipLink,
#swCboxFiles .tipLink, .deliverablesInner .tipLink, .deliverablesInnerSa .tipLink, .mPrizesInner .tipLink, .prizesInner .tipLink, .maxSubmissionsInner .tipLink, .submissionVisibilityInner .tipLink {
    width: auto;
    float: right;
    display: inline;
    margin-right: 12px;
    margin-top: 18px;
}

.deliverablesInner .tipLink, .deliverablesInnerSa .tipLink, .mPrizesInner .tipLink, .prizesInner .tipLink, .stockArtsInner .tipLink, .maxSubmissionsInner .tipLink, .submissionVisibilityInner .tipLink {
    margin-top: 6px;
}

#cboxFiles dl, #swCboxFiles dl, #alCboxFiles dl {
    width: 90%;
    float: left;
    display: inline;
}

#cboxFiles dt, #cboxFiles dd, #swCboxFiles dt, #swCboxFiles dd, #alCboxFiles dt, #alCboxFiles dd {
    width: 45%;
    float: left;
    display: inline;
    text-align: left;
    margin-left: 0px;
    font-size: 14px;
    line-height: 24px;
}

.buttonBox .launchContest {
    width: 150px;
    float: right;
}

/** save button **/
.saveButton a {
    width: 116px;
    height: 24px;
    float: right;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #fffffe;
    text-align: center;
    background: url(/images/saveButton.gif) 0 0 no-repeat;
    margin-right: 20px;
}

.saveButton a:hover {
    background: url(/images/saveButton.gif) 0 -24px no-repeat;
}

.tipLink {
    margin-left: 8px;
}

/** select init **/
.roundelect {
    width: auto;
    float: left;
    display: inline;
}

.tabContest .visibility {
    visibility: hidden;
}

/** tabContest and project select **/
/*.tabOut .tabContest .newListSelected,.projectSelect .newListSelected{*/
/*width:547px;*/
/*background:url(/images/tabContest_select2.gif) no-repeat;*/
/*}*/

.tabContest .newListSelected, .projectSelect .newListSelected {
    width: 362px;
    height: 28px;
    padding: 0 5px;
    border: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 28px;
    background: url(/images/tabContest_select.gif) no-repeat;
}

.tabOut .tabContest .selectedTxt, .projectSelect .selectedTxt {
    width: 362px;
}

.tabContest .selectedTxt, .projectSelect .selectedTxt {
    width: 359px;
    overflow: hidden;
}

.tabContest .newList, .projectSelect .newList {
    width: 370px !important;
    border: #ccc solid 1px;
    background: #fff;
    position: absolute !important;
    margin-top: -3px !important;
}

.tabContest .newList {
    width: 555px !important;
}

.contestDetailsContainer .tabContest .newList {
    width: 370px !important;
    background-position: 370px 0px;
}

/** billing  and round select **/
.reviewScorecardSelect .newListSelected, .billingSelect .newListSelected, .prizeBillingSelect .newListSelected, .roundelect .newListSelected, .copilotSelect .newListSelected, .milestoneSelect .newListSelected, .projectsSelect .newListSelected, .copilotsSelect .newListSelected, .problemSelect .newListSelected, .reviewerSelect .newListSelected, .registrantsSelect .newListSelected, .mmTypeSelect .newListSelected {
    width: 283px;
    height: 28px;
    padding: 0 5px;
    border: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 28px;
    background: url(/images/billing_select.gif) no-repeat;
}

.roundelect .newListSelected {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: #6c6c6c;
}

.reviewScorecardSelect .selectedTxt, .billingSelect .selectedTxt, .prizeBillingSelect .selectedTxt, .roundelect .selectedTxt, .copilotSelect .selectedTxt, .milestoneSelect .selectedTxt, .copilotsSelect .selectedTxt, .projectsSelect .selectedTxt, .problemSelect .selectedTxt, .reviewerSelect .selectedTxt, .registrantsSelect .selectedTxt, .mmTypeSelect .selectedTxt {
    width: 281px;
}

.reviewScorecardSelect .newList, .billingSelect .newList, .prizeBillingSelect .newList, .roundelect .newList, .copilotSelect .newList, .milestoneSelect .newList, .copilotsSelect .newList, .projectsSelect .newList, .problemSelect .newList, .reviewerSelect .newList, .registrantsSelect .newList, .mmTypeSelect .newList{
    width: 290px;
    border: #ccc solid 1px;
    background: #fff;
    position: absolute;
    margin-top: -3px;
}
/** date select **/
.startSelect .newListSelected, .checkpointSelect .newListSelected, .endSelect .newListSelected {
    width: 196px;
    height: 22px;
    padding: 0 5px;
    border: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6c6c6c;
    line-height: 22px;
    cursor: pointer;
    background: url(/images/startSelect.gif) no-repeat;
}

.startSelect .selectedTxt, .checkpointSelect .selectedTxt, .endSelect .selectedTxt {
    width: 196px;
}

.startSelect .newList, .checkpointSelect .newList, .endSelect .newList {
    width: 203px;
    border: #ccc solid 1px;
    background: #fff;
    position: absolute;
    margin-top: -3px;
}

/** time select **/
.startEtSelect .newListSelected, .checkpointEtSelect .newListSelected, .endEtSelect .newListSelected {
    width: 49px;
    height: 22px;
    padding: 0 5px;
    border: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6c6c6c;
    line-height: 22px;
    cursor: pointer;
    position: relative;
    z-index: 100;
    background: url(/images/timeSelect.gif) no-repeat;
}

#checkPointEndDateDiv .newListSelected {
    z-index: 101;
}

.startEtSelect .newListSelected {
    z-index: 102;
}

.startEtSelect .selectedTxt, .checkpointEtSelect .selectedTxt, .endEtSelect .selectedTxt {
    width: 49px;
}

.startEtSelect .newList, .checkpointEtSelect .newList, .endEtSelect .newList {
    width: 56px;
    border: #ccc solid 1px;
    background: #fff;
    position: absolute;
    margin-top: -3px;
    height: 120px;
}

/** num select **/
.numSelect {
    width: auto;
    float: left;
    display: inline;
}

.numSelect .newListSelected {
    width: 52px;
    height: 28px;
    padding: 0 5px;
    border: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #545b66;
    line-height: 22px;
    /* cursor:pointer; */
    background: url(/images/numSelect.gif) no-repeat;
}

.numSelect .selectedTxt {
    width: 52px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-indent: 19px;
    line-height: 28px;
}

.numSelect .newList {
    width: 59px;
    border: #ccc solid 1px;
    background: #fff;
    position: absolute;
    margin-top: -3px;
    color: #6c6c6c;
    list-style: none;
}

.numSelect .newList li {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-indent: 19px;
    color: #6c6c6c;
}

/** catalogselect **/
.catalogSelect .newListSelected {
    width: 300px;
    height: 28px;
    padding: 0 5px;
    border: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 28px;
    cursor: pointer;
    background: url(/images/tabCatalog_select.gif) no-repeat;
}

.catalogSelect .selectedTxt {
    width: 298px;
}

.catalogSelect .newList {
    width: 298px !important;
    border: #ccc solid 1px;
    background: #fff;
    position: absolute !important;
    margin-top: -3px !important;
}

/** select li **/
.newList li {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-indent: 5px;
    text-align: left;
}

.newList li.current {
    background: #eee;
}

.newListHover {
    background: #ccc;
}

/*************************************************************** date pick *********************************************/
a.dp-choose-date {
    width: 21px;
    height: 19px;
    float: left;
    display: inline;
    margin-top: 1px;
    margin-left: 6px;
    margin-right: 22px;
    overflow: hidden;
    text-indent: -2000px;
    background: url(/images/date_icon.gif) no-repeat;
}

.dp-choose-date {
    display: none;
}

table.jCalendar th {
    color: #fff;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    padding: 8px 3px;
}

table.jCalendar td {
    background: #fff;
    color: #666666;
    padding: 6px;
    font-weight: bold;
    text-align: center;
    border: #e7e7e7 solid 1px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

table.jCalendar tr td.other-month {
    background: #dfe1e3;
    color: #bdc2c5;
}

table.jCalendar td.today {
    background: #ff6700;
    color: #ffffff;
    font-weight: bold;
}

table.jCalendar td.selected {
    background: #ff8a00;
    color: #fff;
}

table.jCalendar td.selected.dp-hover {
    background: #ccc;
    color: #000;
}

table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
    background: #ccc;
    color: #fff;
}

table.jCalendar tr.selectedWeek td {
    background: #f66;
    color: #fff;
}

table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
    background: #dfe1e3;
    color: #888;
}

table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
    background: #ccc;
    color: #000;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div#dp-popup {
    position: absolute;
    z-index: 199;
}

div.dp-popup h2 {
    font-size: 12px;
    text-align: center;
    margin: 4px 0;
    padding: 0;
}

a#dp-close {
    font-size: 11px;
    padding: 4px 0;
    text-align: center;
    display: block;
}

a#dp-close:hover {
    text-decoration: underline;
}

div.dp-popup a {
    color: #000;
    text-decoration: none;
    padding: 3px 2px 0;
}

div.dp-popup div.dp-nav-prev {
    position: absolute;
    top: 2px;
    left: 4px;
    width: 100px;
}

div.dp-popup div.dp-nav-prev a {
    width: auto;
    float: left;
    display: inline;
}

/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
    cursor: pointer;
}

div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
    cursor: default;
}

div.dp-popup div.dp-nav-next {
    position: absolute;
    top: 2px;
    right: 4px;
    width: 100px;
}

div.dp-popup div.dp-nav-next a {
    width: auto;
    float: right;
    display: inline;
}

div.dp-popup a.disabled {
    cursor: default;
    color: #aaa;
}

div.dp-popup td {
    cursor: pointer;
}

div.dp-popup td.disabled {
    cursor: default;
}

.dp-nav-prev-year, .dp-nav-next-year {
    display: none;
}

/*date picker*/
.date .text {
    width: auto;
    float: left;
    display: inline;
}

#placeHolder {
    font-size: 36px;
    text-align: center;
    line-height: 350px;
    font-weight: bold;
}

.clear {
    width: 1px;
    height: 1px;
    clear: both;
    overflow: hidden;
}

/** stylish select additional styles (payment-method.html) **/
.selectDesing .newList {
    background-image: url("/images/list_vert_line.gif"), url("/images/list_vert_line.gif");
    background-position: 184px 0px, 370px 0;
    background-repeat: no-repeat, no-repeat;
}

.selectDesing li.newListOptionTitle {
    font-weight: bold;
    width: 185px;
    float: left;
}

.newListOptGroup {
    display: block;
}

.selectDesing .newListOptionTitle li {
    font-weight: normal;
    width: 185px;

}

.selectDesing .moreLink {
    float: left;
}

.fi label {
    color: #666666;
    display: block;
    float: left;
    font-size: 11px;
    padding-right: 5px;
    position: relative;
    text-align: right;
    top: 4px;
    width: 120px;
}

/* autocomplete styles */
div.ac_results {
    background-color: white;
    border: 2px solid yellow;
    border-top: none;
    z-index: 2000
}

div.ac_results ul {
    padding-left: 0px;
}

div.ac_results li {
    list-style-type: none;
    padding-left: 5px;
}

div.ac_results li.ac_over {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

/* launchCopilotContest */
#launchContestOut.launchCopilotContest .addNewContest .button6 span.right {
    padding: 0 13px 0 16px;
}

.launchCopilotContest .fileUpload {
    overflow: hidden;
}

.launchCopilotContest .fileUpload dl {
    padding-left: 15px;
}

.launchCopilotContest .fileUpload dd.addFile {
    overflow: hidden;
}

.launchCopilotContest .fileUpload .fileInput {
    position: absolute;
    height: 100%;
    width: auto;
    cursor: pointer;
}

.launchCopilotContest .fileUpload input {
    height: 22px;
    line-height: 22px;
    border: 1px solid #e7e7e7;
    width: 100%;
}

.launchCopilotContest .fileUpload .attachFile {
    overflow: hidden;
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
}

.launchCopilotContest .fileUpload .attachFile td.uploadBtn {
    width: 95px;
}

.launchCopilotContest .fileUpload .attachDesc {
    display: inline-block;
    float: right;
    width: 48%;
}

.launchCopilotContest .fileUpload .attachDesc td.addDelBtn {
    width: 70px;
}

.launchCopilotContest .fileUpload table {
    width: 100%;
}

.launchCopilotContest .fileUpload .cloneit {
    display: none;
}

.launchCopilotContest .fileUpload .addButton, .launchCopilotContest .fileUpload .removeButton {
    margin-top: 5px;
    margin-left: 10px;
}

.launchCopilotContest .addButton {
    background: url("../../images/addButton.gif") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 21px;
    margin-left: 10px;
    margin-top: 10px;
    width: 22px;
}

.launchCopilotContest .addButton:hover {
    background: url("../../images/addButton_hover.gif") no-repeat scroll 0 0 transparent;
}

.launchCopilotContest .removeButton {
    background: url("../../images/removeButton.gif") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 21px;
    margin-left: 7px;
    margin-top: 2px;
    width: 22px;
}

.launchCopilotContest .removeButton:hover {
    background: url("../../images/removeButton_hover.gif") no-repeat scroll 0 0 transparent;
}

.launchCopilotContest .infoPanel {
    overflow: hidden;
    /*margin-top:10px;*/
    padding: 15px 5px;

}

.htmlDescription {
    padding: 15px 13px;
}

.htmlDescription ul {
    margin-left: 15px;
    padding-left: 15px;
}

.launchCopilotContest .infoPanel .infoPanelMask {
    /* border:1px solid #e7e7e7;
    padding:15px 0px;*/
    overflow: hidden;
}

#launchContestOut.launchCopilotContest .infoPanel h3 {
    margin-top: 0px;
}

#launchContestOut.launchCopilotContest .editPanel h3 {
    margin-top: 0px;
}

.launchCopilotContest .infoPanel ul {
    list-style-type: none;
    float: left;
    line-height: 30px;
}

.launchCopilotContest .infoPanel ul li {
    color: #333333;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 15px;
    font-weight: bold;
}

.launchCopilotContest .infoPanel ul li label {
    width: 160px;
    display: inline-block;
    font-weight: normal;
}

.launchCopilotContest .infoPanel ul li label.textValue {
    color: #333333;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 0px;
    font-weight: bold;
    width: 600px;
}

#launchContestOut.launchCopilotContest .editPanel {
    border: 1px solid #FF0000;
    /* margin-top:10px;*/
    padding: 15px 5px 0px;
}

#launchContestOut .editMask .addNewContest {
    height: auto;
    padding-bottom: 0px;
    margin-top: 15px;
    padding-top: 0px;
}

.launchCopilotContest .editMask .description .textarea {
    border: 0px;
    padding: 0 10px 0 10px;
}

.launchCopilotContest .editMask.greybg .infoPanel, .launchCopilotContest .editMask.greybg .htmlDescription {
    background-color: #f5f5f5;
}

.launchCopilotContest .editMask .addNewContestInfo, .launchCopilotContest .editMask .addNewContest {
    margin-top: 15px;
}

#launchContestOut .editMask.costs {
    margin-bottom: 15px;
}

#launchContestOut .editMask.costs h3 {
    padding-left: 5px;
    margin-top: 12px;
}

#launchContestOut.launchCopilotContest .editPanel .editPanelMask {
    padding: 15px 0px;
/ / overflow : hidden;
}

.launchCopilotContest .editPanel .edit_type {
    margin-left: 5px;
}

.launchCopilotContest .editPanel p.save {
    padding-right: 10px;
    height: 15px;
}

.launchCopilotContest .fileuploadInfo table {
    width: 100%;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
}

.launchCopilotContest .fileuploadInfo table td.fileName {
    font-weight: bold;
    width: 40%;
    padding: 5px 0px 5px 10px;
}

.launchCopilotContest .fileuploadInfo table td.fileName a {
    color: #333333;
}

.launchCopilotContest .descriptionInfo p {
    padding: 0 10px;
    font-size: 14px;
}

.launchCopilotContest .descriptionInfo .previewMask {
    font-size: 12px;
}

.launchCopilotContest .descriptionInfo .previewMask p {
    font-size: 12px;
}

/** Hide the path in tinyMCE description in launch copilot contest page*/
.launchCopilotContest #mce_0_path_row {
    display: none;
}

.launchCopilotContest #mce_31_path_row {
    display: none;
}

/* copilotsIntroduction */
#copilotsIntroduction {
    font-size: 12px;
    color: #333333;
    min-height: 640px;
}

#copilotsIntroduction .getCopilots {
    height: 76px;
    margin-right: 15px;
    overflow: hidden;
    background: url(../../images/copilot_area1_icon_bg.png) right 20px no-repeat;
}

#copilotsIntroduction .getCopilots .introductionHeadIcon {
    float: left;
    position: relative;
    top: 32px;
}

#copilotsIntroduction .getCopilots h2 {
    padding-top: 32px;
    padding-left: 42px;
    font-size: 16px;
    line-height: 36px;
}

#copilotsIntroduction .getCopilotsStep {
    height: 100px;
    padding-left: 3px;
    background: url(../../images/bg_copilots_title.png) left top no-repeat;
}

#copilotsIntroduction .getCopilotsStep .getCopilotsStepRight {
    height: 100px;
    padding-right: 3px;
    background: url(../../images/bg_copilots_title.png) right -200px no-repeat;
}

#copilotsIntroduction .getCopilotsStep .getCopilotsStepCenter {
    height: 100px;
    background: url(../../images/bg_copilots_title.png) left -100px repeat-x;
}

#copilotsIntroduction .getCopilotsStep .getCopilotsStepContent {
    height: 92px;
    background: url(../../images/bg_copilots_title_light.png) left top repeat-x;
    padding-top: 8px;
}

#copilotsIntroduction .getCopilotsStep .getCopilotsStepContent li {
    width: 30%;
    float: left;
    display: inline;
    list-style: none;
    color: #FFFFFE;
    font-size: 16px;
    line-height: 18px;
}

#copilotsIntroduction .getCopilotsStep .getCopilotsStepContent li.second {
    width: 36%;
}

#copilotsIntroduction .getCopilotsStep .getCopilotsStepContent li span {
    float: left;
    width: 46px;
    height: 70px;
    padding-left: 15px;
    padding-top: 4px;
}

#copilotsIntroduction .getCopilotsStep .getCopilotsStepContent li div {
    padding-right: 20px;
}

#copilotsIntroduction .getCopilotsStep .getCopilotsStepContent li.second div {
    padding-right: 30px;
}

#copilotsIntroduction .copilotsSummery {
    padding-top: 18px;
    padding-left: 350px;
    padding-bottom: 30px;
    position: relative;
    min-height: 302px;
}

#copilotsIntroduction .copilotsSummery .summerySection {
    padding-bottom: 8px;
}

#copilotsIntroduction .copilotsSummery .summerySection h3 {
    font-size: 16px;
    color: #333333;
    padding-bottom: 12px;
}

#copilotsIntroduction .copilotsSummery .summerySection p, #copilotsIntroduction .copilotsSummery .summerySection ul {
    color: #333333;
    line-height: 15px;
    padding-bottom: 6px;
}

#copilotsIntroduction .copilotsSummery .summerySection li {
    list-style: none;
    padding-left: 15px;
    line-height: 16px;
    background: url(../../images/icon_list_copilots.png) left center no-repeat;
}

#copilotsIntroduction .copilotsSummery .videoBox {
    position: absolute;
    top: 0px;
    left: 0;
    width: 330px;
    height: 350px;
    padding-top: 20px;
}

#copilotsIntroduction .copilotsSummery .videoBox .video {
    width: 330px;
    height: 220px;
    position: relative;
    overflow: hidden;
}

.video .corner {
    width: 5px;
    height: 5px;
    display: block;
    position: absolute;
    background: url(../../images/corner_video.png) left top no-repeat;
}

.video .tl {
    left: 0;
    top: 0;
    background-position: 0px 0px;
}

.video .tr {
    right: 0;
    top: 0;
    background-position: -5px 0px;
}

.video .bl {
    left: 0;
    bottom: 0;
    background-position: 0px -5px;
}

.video .br {
    right: 0;
    bottom: 0;
    background-position: -5px -5px;
}

#copilotsIntroduction .copilotsSummery .videoBox .buttonLaunch {
    clear: left;
    float: left;
    width: auto;
    height: 64px;
    display: inline;
    margin-left: 45px;
    margin-top: 23px;
    background: url(../../images/button_launch.png) left top no-repeat;
    padding-left: 4px;
    text-decoration: none;
}

#copilotsIntroduction .copilotsSummery .videoBox .buttonLaunch:hover {
    text-decoration: none;
}

#copilotsIntroduction .copilotsSummery .videoBox .buttonLaunch .buttonLaunchRight {
    float: left;
    width: auto;
    height: 64px;
    display: inline;
    background: url(../../images/button_launch.png) right -128px no-repeat;
    padding-right: 4px;
}

#copilotsIntroduction .copilotsSummery .videoBox .buttonLaunch .buttonLaunchCenter {
    float: left;
    width: auto;
    height: 50px;
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 10px;
    display: inline;
    background: url(../../images/button_launch.png) left -64px repeat-x;
}

#copilotsIntroduction .copilotsSummery .videoBox .buttonLaunch .buttonLaunchCenter img {
    float: left;
    width: auto;
    padding-right: 12px;
    display: inline;
}

#copilotsIntroduction .copilotsSummery .videoBox .buttonLaunch .buttonLaunchCenter .buttonWords {
    float: left;
    width: 164px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    color: #fffffe;
    display: inline;
}

#copilotsIntroduction .useCopilot {
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

#copilotsIntroduction .useCopilot h3 {
    padding-bottom: 12px;
}

#copilotsIntroduction .useCopilot .useCopilotSummery {
    padding-left: 5px;
    background: url(../../images/bg_use_summery.png) left top no-repeat;
    height: 180px;
}

#copilotsIntroduction .useCopilot .useCopilotSummery .useCopilotSummeryRight {
    padding-right: 5px;
    background: url(../../images/bg_use_summery.png) right -360px no-repeat;
    height: 180px;
}

#copilotsIntroduction .useCopilot .useCopilotSummery .useCopilotSummeryCenter {
    background: url(../../images/bg_use_summery.png) left -180px repeat-x;
    height: 165px;
    padding-top: 15px;
    padding-left: 22px;
    padding-right: 320px;
    position: relative;
}

#copilotsIntroduction .useCopilot .useCopilotSummery .useCopilotSummeryCenter p {
    padding-bottom: 6px;
}

#copilotsIntroduction .useCopilot .useCopilotSummery .howMuchCosts {
    width: 276px;
    position: absolute;
    right: 15px;
    top: 23px;
}

#copilotsIntroduction .useCopilot .useCopilotSummery .howMuchCosts .howMuchCostsHeader {
    width: 276px;
    height: 5px;
    background: url(../../images/bg_how_costs.png) left top no-repeat;
    overflow: hidden;
}

#copilotsIntroduction .useCopilot .useCopilotSummery .howMuchCosts .howMuchCostsFooter {
    width: 276px;
    height: 5px;
    background: url(../../images/bg_how_costs.png) right top no-repeat;
    overflow: hidden;
}

#copilotsIntroduction .useCopilot .useCopilotSummery .howMuchCosts .howMuchCostsContent {
    width: 248px;
    background: url(../../images/bg_how_costs.png) -276px top repeat-y;
    padding: 10px 10px 8px 18px;
    overflow: hidden;
}

#copilotsIntroduction .useCopilot .useCopilotSummery li {
    list-style: none;
    padding-left: 15px;
    line-height: 18px;
    background: url(../../images/icon_list_copilots.png) left center no-repeat;
}

#copilotsIntroduction .useCopilot .howGetCopilot {
    padding-top: 27px;
    padding-right: 350px;
}

.specialArea #area1 {
    padding-bottom: 68px;
}

/* end #copilotsIntroduction*/

/* copilot-contests */
#copilotsIntroduction .myCopilotsContests {
    height: 76px;
    margin-right: 15px;
    overflow: hidden;
}

#copilotsIntroduction .myCopilotsContests .introductionHeadIcon {
    float: left;
    position: relative;
    top: 32px;
}

#copilotsIntroduction .myCopilotsContests h2 {
    padding-top: 32px;
    padding-left: 42px;
    font-size: 16px;
    line-height: 36px;
}

/* end copilot-contests */

/* copilot-registrants*/
.tabs3Special .tableContainer, .tabs4Special .tableContainer {
    padding-top: 20px;
}

.tabs3Special .copilotRegistrants {
    padding-top: 40px;
}

.tabs3Special .newContestsStatus .photo {
    text-align: left;
}

.tabs3Special .newContestsStatus .photo img {
    float: left;
    width: auto;
    display: inline;
    margin: 0 12px 0 14px;
}

.tabs3Special .newContestsStatus .photo span {
    float: left;
    width: auto;
    display: inline;
    padding-top: 8px;
}

/* button for copilot */
.memberProfile {
    margin: 0 auto;
    display: block;
    width: 99px;
    height: 21px;
    padding-right: 23px;
    background: url(../../images/button_profile_member_right.png) right top no-repeat;
    overflow: hidden;
    line-height: 20px;
    text-decoration: none;
    color: #362f2d;
    font-weight: bold;
}

.memberProfile span.profileLeft {
    display: block;
    height: 21px;
    width: 99px;
    background: url(../../images/button_profile_left.png) left top no-repeat;
    overflow: hidden;
}

.memberProfile:hover {
    background-position: right -21px;
}

.memberProfile:hover span.profileLeft {
    background-position: left -21px;
}

.copilotProfile {
    margin: 8px auto 0;
    display: block;
    width: 99px;
    height: 21px;
    padding-right: 23px;
    background: url(../../images/button_profile_copilot_right.png) right top no-repeat;
    overflow: hidden;
    line-height: 20px;
    text-decoration: none;
    color: #362f2d;
    font-weight: bold;
}

.copilotProfile span.profileLeft {
    display: block;
    height: 21px;
    width: 99px;
    background: url(../../images/button_profile_left.png) left top no-repeat;
    overflow: hidden;
}

.copilotProfile:hover {
    background-position: right -21px;
}

.copilotProfile:hover span.profileLeft {
    background-position: left -21px;
}

.downloadProfile {
    margin: 0 auto;
    display: block;
    width: 94px;
    padding: 0 3px;
    overflow: hidden;
    text-decoration: none;

    height: 21px;
    line-height: 21px;
    background: #81bc01;
    border-bottom: 3px solid #5ba801;
    border-radius: 4px;
    behavior: url(/css/PIE.htc);
    color: #ffffff;

}

.downloadProfile span.profileLeft {
    display: block;

}

.downloadProfile:hover {
    border-bottom: 3px solid #81bc02;
}

.deleteSelect {
    background: #ff8a00;
    border-bottom: 3px solid #ff6700;

}

.deleteSelect:hover {
    border-bottom: 3px solid #ff8a01

}

.chooseCopilotButton {
    margin: 0 auto;
    display: block;
    width: 180px;
    height: 21px;
    padding-left: 3px;
    background: url(../../images/button-sm-red-left.png) left top no-repeat;
    overflow: hidden;
    line-height: 20px;
    text-decoration: none;
    color: #fffffe;
    font-weight: bold;
}

.chooseCopilotButton span.profileLeft {
    display: block;
    height: 21px;
    width: 180px;
    background: url(../../images/button-sm-red-right.png) right top no-repeat;
    overflow: hidden;
}

.chooseCopilotButton:hover {
    background-position: left -21px;
}

.chooseCopilotButton:hover span.profileLeft {
    background-position: right -21px;
}

.noCopilotButton {
    margin: 0 auto;
    display: block;
    width: 180px;
    height: 21px;
    padding-left: 3px;
    background: url(../../images/button-sm-red-left.png) left top no-repeat;
    overflow: hidden;
    line-height: 20px;
    text-decoration: none !important;
    color: #fffffe;
    font-weight: bold;
    margin-top: 10px;
}

.noCopilotButton span.profileLeft {
    display: block;
    height: 21px;
    width: 180px;
    background: url(../../images/button-sm-red-right.png) right top no-repeat;
    overflow: hidden;
}

.noCopilotButton:hover {
    background-position: left -21px;
}

.noCopilotButton:hover span.profileLeft {
    background-position: right -21px;
}

.tabs3Special .launchCopilotContest .fileUploadInfo table td.fileName a {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    background: url(../../images/icon_document.png) 4px 2px no-repeat;
    padding-left: 40px;
    float: left;
    width: auto;
    display: inline;
    margin-left: 6px;
    padding-top: 8px;
    height: 26px;
}

.mid_info .prizesInput {
    width: 46px;
    height: 16px;
/ / float : left;
    display: inline;
    margin-top: 4px;
    border: 0;
    padding: 3px 9px;
    font-weight: bold;
    text-align: right;
    color: #6c6c6c;
    background: url(/images/prizesInput.gif) no-repeat;
}

div.selectSpan {
    float: left;
    margin-right: 4px;
}

#billingGroupCheckBox {
    display: none;
}

#billingGroupCheckBox input {
    margin-right: 6px;
}

#billingGroupCheckBox span {
    font-size: 14px;
    line-height: 28px;
}

#rFinalDeliveries {
    font-size: 12px;
}

div#selectWinnerConfirmation.outLay {
    width: 420px;
}

div#winnerDiv {
    margin-top: -30px;
    padding: 10px;
}

.rGroups td span, #rTechnologies span, #rPlatforms span {
    border: #e7e7e7 solid 1px;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    margin-right: 5px;
}

#rTechnologies, #rPlatforms{
    padding-top: 7px;
}

.ms-group-div{
    border: 1px solid #CCC;
    border-radius: 4px;
    margin-left: 139px;
    width: 372px;
}

.techPlatformDiv{
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 405px;
    margin-top: 8px;
}

.ms-group-display .ms-group-div{
    margin-left: 150px;
}

div.ms-group-display {
    margin-top: 20px;
}

div.ms-group-display .ms-group-div{
    margin-top: 20px;
    width: 293px;
}

.copilotFeeDiv {
    height: 16px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 14px;
    padding-bottom: 10px;
}

.copilotFeeDiv label {
    font-weight: bold;
    margin-right: 10px;
}

.copilotFee{
    width: 56px;
    height: 16px;
    display: inline;
    margin-top: 4px;
    border: 0;
    padding: 3px 5px;
    font-weight: bold;
    text-align: left;
    color: #666666;
    font-size: 11px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

.ms-row{
    margin-top: 17px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    background-clip: padding-box;
    margin-top: -2px;
}

.prizes input.text {
    width: 396px;
    height: 25px;
    padding: 0 5px;
    line-height: 25px;
    border-radius: 4px;
    border: 1px solid #C1C1C1;
    font-size: 12px;
}

.envRepo input {
    width: 401px;
    height: 25px;
}
